[Unit]
Description=Whapichat Server Service

[Service]
ExecStartPre=/usr/bin/bash -c "pm2 start "node whapichat_server-test/app.js"; /bin/true"
ExecStart=/usr/bin/pm2 whapichat_server/app.js --is-production=1
Type=oneshot
WorkingDirectory=/home/whapichat/node

[Install]
WantedBy=multi-user.target