[Unit]
Description=Whapichat Server Service

[Service]
User=whapichat
ExecStartPre=/usr/bin/npm run start-pm2-test
ExecStart=/usr/bin/npm run start-pm2
Type=oneshot
WorkingDirectory=/home/whapichat/node/whapichat_server

[Install]
WantedBy=multi-user.target